# Database Configuration
POSTGRES_DB=resource_allocation
POSTGRES_USER=dev
POSTGRES_PASSWORD=dev123
POSTGRES_PORT=5432

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@company.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

# AI Configuration
GEMINI_API_KEY=[OPEN_ROUTER_KEY]

# Application Port
APP_PORT=8080